# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Distribution / packaging
build/
MANIFEST
build
site

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# debug information files
*.dwo

# Visual Studio / Visual Studio Code
/.vs/
/.vscode/
/out/

# documentation
/html
/docs/site/
/docs/venv/

# mkdocs documentation
/site
mkdocs_material.egg-info

/build*

# Jench
.jench/

